ficheros.json
[
    {
        "id": "aa6a33acd4decab3",
        "type": "tab",
        "label": "Ficheros",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9968bd8dbb0b7d56",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b63d1f91.68095",
        "type": "ui_tab",
        "name": "VIsor de evenetos",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "700de8bd981cfe29",
        "type": "ui_group",
        "name": "1. Selecciones Fichero",
        "tab": "b63d1f91.68095",
        "order": 1,
        "disp": true,
        "width": "22",
        "collapse": false
    },
    {
        "id": "4864ce1bbdbaeae3",
        "type": "ui_group",
        "name": "2. Visor de eventos",
        "tab": "b63d1f91.68095",
        "order": 2,
        "disp": true,
        "width": "22",
        "collapse": false
    },
    {
        "id": "ac37e865c4b2398a",
        "type": "ui_tab",
        "name": "Logger",
        "icon": "list",
        "order": 19,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3b633a9d1ee8afa6",
        "type": "ui_spacer",
        "z": "aa6a33acd4decab3",
        "name": "spacer",
        "group": "700de8bd981cfe29",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "2be547ec17ddcecc",
        "type": "ui_spacer",
        "z": "aa6a33acd4decab3",
        "name": "spacer",
        "group": "700de8bd981cfe29",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "c06246841b2339c2",
        "type": "ui_spacer",
        "z": "aa6a33acd4decab3",
        "name": "spacer",
        "group": "700de8bd981cfe29",
        "order": 13,
        "width": 5,
        "height": 1
    },
    {
        "id": "4d0ef45df56cf5af",
        "type": "ui_spacer",
        "z": "aa6a33acd4decab3",
        "name": "spacer",
        "group": "4864ce1bbdbaeae3",
        "order": 9,
        "width": 7,
        "height": 1
    },
    {
        "id": "d29ed2a5edcd058b",
        "type": "ui_spacer",
        "z": "aa6a33acd4decab3",
        "name": "spacer",
        "group": "4864ce1bbdbaeae3",
        "order": 10,
        "width": 7,
        "height": 1
    },
    {
        "id": "d50b54c1df1ccdb7",
        "type": "ui_spacer",
        "z": "aa6a33acd4decab3",
        "name": "spacer",
        "group": "4864ce1bbdbaeae3",
        "order": 11,
        "width": 7,
        "height": 1
    },
    {
        "id": "55544ddafdbdfd61",
        "type": "comment",
        "z": "aa6a33acd4decab3",
        "name": "File Browser",
        "info": "1) Update the default folder in the Init node\n2) Update the default folder in the Reset node as well\n3) You can duplicate the Reset nodes and use them as saved shortcuts\n4) Check the Convert Timestamps function node if you want to see your dates in a different format. I just used the Javascript toISOString format.\n5) The Graph button can read any CSV file which have any number of values, but the first column always contains a timestamp column with javascript timestamp of the data point.",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "fc785b227126e342",
        "type": "fs-file-lister",
        "z": "aa6a33acd4decab3",
        "name": "Files",
        "start": "C:\\",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "files",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": false,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "90320383816019c4",
                "2398be9f65656ef5"
            ]
        ]
    },
    {
        "id": "9064419174f86fb4",
        "type": "inject",
        "z": "aa6a33acd4decab3",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "change",
        "payload": "C:\\Users",
        "payloadType": "str",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "db4963f81dc35104"
            ]
        ]
    },
    {
        "id": "8c4460ca123d9e46",
        "type": "ui_button",
        "z": "aa6a33acd4decab3",
        "name": "",
        "group": "700de8bd981cfe29",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "refresh",
        "topicType": "str",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "db4963f81dc35104"
            ]
        ]
    },
    {
        "id": "da09dc5e4076032e",
        "type": "ui_dropdown",
        "z": "aa6a33acd4decab3",
        "name": "File Selector",
        "label": "",
        "tooltip": "",
        "place": "Selecionar fichero",
        "group": "700de8bd981cfe29",
        "order": 10,
        "width": 5,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "x": 1010,
        "y": 180,
        "wires": [
            [
                "390695b50ad5aed6"
            ]
        ]
    },
    {
        "id": "90320383816019c4",
        "type": "function",
        "z": "aa6a33acd4decab3",
        "name": "Format data",
        "func": "// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a file\n    obj = {};\n    obj [msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 180,
        "wires": [
            [
                "da09dc5e4076032e"
            ]
        ]
    },
    {
        "id": "720dc0133a3a3a32",
        "type": "ui_template",
        "z": "aa6a33acd4decab3",
        "group": "700de8bd981cfe29",
        "name": "",
        "order": 7,
        "width": 22,
        "height": 6,
        "format": "<div ng-bind-html=\"msg.payload\" height=\"400\" style=\"height: 400px;\"><br/>\n</div>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1200,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b8691506a756cc64",
        "type": "template",
        "z": "aa6a33acd4decab3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<table width=\"100%\">\n    <tr><th>File Name</th><th>Size</th><th>Created</th><th>Changed</th></tr>\n    {{#payload}}\n        <tr>\n            <td><a href=\"/download?filename={{name}}\" target=\"blank\">{{fname}}</a></td>\n            <td>{{stat.size}}</td>\n            <td>{{stat.created}}</td>\n            <td>{{stat.changed}}</td>\n        </tr>\n    {{/payload}}\n</table>\n",
        "output": "str",
        "x": 1040,
        "y": 240,
        "wires": [
            [
                "720dc0133a3a3a32"
            ]
        ]
    },
    {
        "id": "2398be9f65656ef5",
        "type": "function",
        "z": "aa6a33acd4decab3",
        "name": "Convert timestamps",
        "func": "for (var i=0; i<msg.payload.length; i++) {\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 240,
        "wires": [
            [
                "b8691506a756cc64"
            ]
        ]
    },
    {
        "id": "5fc264c9b67554dd",
        "type": "http in",
        "z": "aa6a33acd4decab3",
        "name": "",
        "url": "/download",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 540,
        "wires": [
            [
                "6d63ad55674c2a1b"
            ]
        ]
    },
    {
        "id": "d683c208eb7469dc",
        "type": "http response",
        "z": "aa6a33acd4decab3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 540,
        "wires": []
    },
    {
        "id": "6d63ad55674c2a1b",
        "type": "function",
        "z": "aa6a33acd4decab3",
        "name": "Get the file name",
        "func": "msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 540,
        "wires": [
            [
                "8cb53c2645893590"
            ]
        ],
        "outputLabels": [
            "Folder selected",
            "File selected"
        ]
    },
    {
        "id": "8cb53c2645893590",
        "type": "file in",
        "z": "aa6a33acd4decab3",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 680,
        "y": 540,
        "wires": [
            [
                "9995c4f2467b9825"
            ]
        ]
    },
    {
        "id": "9995c4f2467b9825",
        "type": "change",
        "z": "aa6a33acd4decab3",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "text/csv",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Content-Disposition",
                "pt": "msg",
                "to": "contentdisposition",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 540,
        "wires": [
            [
                "d683c208eb7469dc"
            ]
        ]
    },
    {
        "id": "db4963f81dc35104",
        "type": "function",
        "z": "aa6a33acd4decab3",
        "name": "Folder handling",
        "func": "let folder = context.get(\"folder\");\nif (folder===undefined) {\n    folder =\"C:\\\\Users\";\n    context.set(\"folder\", folder);\n}\n\nlet hidden = context.get(\"hidden\");\nif (hidden===undefined) {\n    hidden=false;\n    context.set(\"hidden\", hidden);\n}\n\nif (msg.topic===\"up\") {\n    var the_arr = folder.split('\\\\');\n    the_arr.pop();\n    folder=the_arr.join('\\\\'); \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"change\") {\n    folder=msg.payload;    \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    context.set(\"hidden\", hidden);\n}\nif (folder===\"C:\") {\n    folder =\"C:\\\\Users\";\n    context.set(\"folder\", folder);\n}\n\nmsg.payload = {\"start\":folder, \"hidden\": hidden};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "fc785b227126e342",
                "103e3f897b39b4a5",
                "4a6690ad01f9defc"
            ]
        ]
    },
    {
        "id": "103e3f897b39b4a5",
        "type": "ui_text",
        "z": "aa6a33acd4decab3",
        "group": "700de8bd981cfe29",
        "order": 5,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Folder:",
        "format": "{{msg.payload.start}}",
        "layout": "row-left",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "d75a42e3aa4f7a3b",
        "type": "ui_button",
        "z": "aa6a33acd4decab3",
        "name": "",
        "group": "700de8bd981cfe29",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_upwards",
        "payload": "",
        "payloadType": "str",
        "topic": "up",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "db4963f81dc35104"
            ]
        ]
    },
    {
        "id": "791bcda9850649fa",
        "type": "ui_button",
        "z": "aa6a33acd4decab3",
        "name": "",
        "group": "700de8bd981cfe29",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Abrir",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "folder_open",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "08b622aee3b33392"
            ]
        ]
    },
    {
        "id": "08b622aee3b33392",
        "type": "function",
        "z": "aa6a33acd4decab3",
        "name": "Change folder",
        "func": "// Get the filename from the flow context\nlet folderselected = flow.get(\"folderselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (folderselected===undefined) {\n    return;\n}\n\nmsg.topic = \"change\";\nmsg.payload = folderselected;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 460,
        "wires": [
            [
                "db4963f81dc35104"
            ]
        ]
    },
    {
        "id": "20bdaa0d5569366f",
        "type": "ui_button",
        "z": "aa6a33acd4decab3",
        "name": "",
        "group": "700de8bd981cfe29",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "autorenew",
        "payload": "C:\\Users",
        "payloadType": "str",
        "topic": "change",
        "topicType": "str",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "db4963f81dc35104"
            ]
        ]
    },
    {
        "id": "4a6690ad01f9defc",
        "type": "fs-file-lister",
        "z": "aa6a33acd4decab3",
        "name": "Folders",
        "start": "C:\\User",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "directories",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": false,
        "x": 620,
        "y": 280,
        "wires": [
            [
                "f561d7f450a3c018",
                "4614914acc7ba9f8"
            ]
        ]
    },
    {
        "id": "f06e2645c741d123",
        "type": "ui_dropdown",
        "z": "aa6a33acd4decab3",
        "name": "Folder Selector",
        "label": "",
        "tooltip": "",
        "place": "Selecionar carpeta",
        "group": "700de8bd981cfe29",
        "order": 8,
        "width": 5,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "x": 1020,
        "y": 280,
        "wires": [
            [
                "3744d6650729d4e0"
            ]
        ]
    },
    {
        "id": "f561d7f450a3c018",
        "type": "function",
        "z": "aa6a33acd4decab3",
        "name": "Format data",
        "func": "// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a foler\n    obj = {};\n    obj [\"[\"+msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')+\"]\"]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "f06e2645c741d123"
            ]
        ]
    },
    {
        "id": "390695b50ad5aed6",
        "type": "change",
        "z": "aa6a33acd4decab3",
        "name": "Save selection",
        "rules": [
            {
                "t": "set",
                "p": "fileselected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3744d6650729d4e0",
        "type": "change",
        "z": "aa6a33acd4decab3",
        "name": "Save selection",
        "rules": [
            {
                "t": "set",
                "p": "folderselected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "698c376ed3819035",
        "type": "ui_switch",
        "z": "aa6a33acd4decab3",
        "name": "",
        "label": "Hidden",
        "tooltip": "Show hidden files or not",
        "group": "700de8bd981cfe29",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "hidden",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "check_box",
        "oncolor": "#000000",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "check_box_outline_blank",
        "offcolor": "#000000",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "db4963f81dc35104"
            ]
        ]
    },
    {
        "id": "b5c61a7b71ec2acd",
        "type": "csv",
        "z": "aa6a33acd4decab3",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\r\\n",
        "temp": "timestamp,Evento,status",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 1050,
        "y": 800,
        "wires": [
            [
                "aede6142c442976c"
            ]
        ]
    },
    {
        "id": "aede6142c442976c",
        "type": "ui_table",
        "z": "aa6a33acd4decab3",
        "group": "4864ce1bbdbaeae3",
        "name": "Tabla logger",
        "order": 1,
        "width": 15,
        "height": 10,
        "columns": [
            {
                "field": "timestamp",
                "title": "Timestamp",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Evento",
                "title": "Evento",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "status",
                "title": "Status",
                "width": "",
                "align": "left",
                "formatter": "color",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1290,
        "y": 800,
        "wires": []
    },
    {
        "id": "7dcaa3b632a6fffb",
        "type": "ui_button",
        "z": "aa6a33acd4decab3",
        "name": "",
        "group": "700de8bd981cfe29",
        "order": 12,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "Cargar Eventos",
        "tooltip": "",
        "color": "",
        "bgcolor": "#CF7E0F",
        "icon": "file_upload",
        "payload": "{\"command\":\"setGroupBy\",\"arguments\":[\"name_jaba1\"]}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "8ee5603b277e9501"
            ]
        ],
        "info": "{\n    \"command\": \"setGroupBy\",\n    \"arguments\": [\n        \"name_jaba1\"\n    ]\n}"
    },
    {
        "id": "8ee5603b277e9501",
        "type": "function",
        "z": "aa6a33acd4decab3",
        "name": "Get filename",
        "func": "// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 800,
        "wires": [
            [
                "32a712fbe71ac866"
            ]
        ]
    },
    {
        "id": "32a712fbe71ac866",
        "type": "file in",
        "z": "aa6a33acd4decab3",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 750,
        "y": 800,
        "wires": [
            [
                "b5c61a7b71ec2acd"
            ]
        ]
    },
    {
        "id": "f9fa1acb71fb0419",
        "type": "ui_text",
        "z": "aa6a33acd4decab3",
        "group": "4864ce1bbdbaeae3",
        "order": 5,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "<i class =\"fa fa-lightbulb-o\"></i>",
        "format": "<font color= #33BAFF > Evento tipo apertura / cierre </font>",
        "layout": "row-left",
        "x": 190,
        "y": 900,
        "wires": []
    },
    {
        "id": "3d808a51aefbe167",
        "type": "ui_text",
        "z": "aa6a33acd4decab3",
        "group": "4864ce1bbdbaeae3",
        "order": 6,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "<i class =\"fa fa-lightbulb-o\"></i>",
        "format": "<font color= orange > Evento general</font>",
        "layout": "row-left",
        "x": 180,
        "y": 940,
        "wires": []
    },
    {
        "id": "b462f1d1d715feea",
        "type": "ui_text",
        "z": "aa6a33acd4decab3",
        "group": "4864ce1bbdbaeae3",
        "order": 7,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "<i class =\"fa fa-lightbulb-o\"></i>",
        "format": "<font color= red > Comienzo Alarma</font>",
        "layout": "row-left",
        "x": 180,
        "y": 980,
        "wires": []
    },
    {
        "id": "ac4749e903147748",
        "type": "ui_text",
        "z": "aa6a33acd4decab3",
        "group": "4864ce1bbdbaeae3",
        "order": 8,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "<i class =\"fa fa-lightbulb-o\"></i>",
        "format": "<font color= lime > Fin Alarma</font>",
        "layout": "row-left",
        "x": 180,
        "y": 1020,
        "wires": []
    },
    {
        "id": "6f2a306ab3f0c7ea",
        "type": "ui_text",
        "z": "aa6a33acd4decab3",
        "group": "4864ce1bbdbaeae3",
        "order": 3,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "<i class =\"fa fa-lightbulb-o\"></i>",
        "format": "<font color= #1FFDFE  > Orden HMI</font>",
        "layout": "row-left",
        "x": 180,
        "y": 1060,
        "wires": []
    },
    {
        "id": "bd7a486a4e2a0c26",
        "type": "ui_text",
        "z": "aa6a33acd4decab3",
        "group": "4864ce1bbdbaeae3",
        "order": 4,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "<i class =\"fa fa-lightbulb-o\"></i>",
        "format": "<font color= #EC33FE > Orden REMOTA IEC 104</font>",
        "layout": "row-left",
        "x": 180,
        "y": 1100,
        "wires": []
    },
    {
        "id": "918ffd51336780fa",
        "type": "ui_text",
        "z": "aa6a33acd4decab3",
        "group": "4864ce1bbdbaeae3",
        "order": 2,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Leyenda",
        "format": "",
        "layout": "row-left",
        "x": 120,
        "y": 860,
        "wires": []
    },
    {
        "id": "4614914acc7ba9f8",
        "type": "debug",
        "z": "aa6a33acd4decab3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 380,
        "wires": []
    }
]